/**
 * @file
 * Styling for contextual module.
 */

/**
 * Contextual links wrappers.
 */
.contextual {
  position: absolute;
  right: 0; /* LTR */
  top: 2px;
  z-index: 500;
}
[dir=rtl] .contextual {
  left: 0;
  right: auto;
}

/**
 * Contextual region.
 */
.contextual-region.focus {
  outline: 1px dashed #d6d6d6;
  outline-offset: 1px;
}

/**
 * Contextual trigger.
 */
.contextual .trigger {
  background-attachment: scroll;
  background-color: #fff;
  background-image: url(../../../misc/edit.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: 1px solid #ddd;
  border-radius: 13px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  /* Override the .focusable height: auto */
  height: 28px !important;
  float: right; /* LTR */
  margin: 0;
  overflow: hidden;
  padding: 0 2px;
  position: relative;
  right: 2px; /* LTR */
  /* Override the .focusable height: auto */
  width: 28px !important;
  text-indent: -9999px;
  cursor: pointer;
}
[dir=rtl] .contextual .trigger {
  float: left;
  right: auto;
  left: 2px;
}
.contextual.open .trigger {
  border-bottom-color: transparent;
  border-radius: 13px 13px 0 0;
  box-shadow: none;
  z-index: 2;
}

/**
 * Contextual links.
 *
 * The following selectors are heavy to discourage theme overriding.
 */
.contextual-region .contextual .contextual-links {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px 0 4px 4px; /* LTR */
  clear: both;
  float: right; /* LTR */
  margin: 0;
  padding: 0.25em 0;
  position: relative;
  right: 2px; /* LTR */
  text-align: left; /* LTR */
  top: -1px;
  white-space: nowrap;
}
[dir=rtl] .contextual-region .contextual .contextual-links {
  border-radius: 0 4px 4px 4px;
  float: left;
  left: 2px;
  right: auto;
  text-align: right;
}
.contextual-region .contextual .contextual-links li {
  background-color: #fff;
  border: none;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  line-height: 100%;
}
.contextual-region .contextual .contextual-links a {
  background-color: #fff;
  /* This is an unforetunately necessary use of !important to prevent white
   * links on a white background or some similar illegible combination. */
  color: #333 !important;
  display: block;
  font-family: sans-serif;
  font-size: small;
  line-height: 0.8em;
  margin: 0.25em 0;
  padding: 0.4em 0.6em;
}
.contextual-region .contextual .contextual-links a,
.contextual-region .contextual .contextual-links a:hover {
  text-decoration: none;
}
.no-touch .contextual-region .contextual .contextual-links li a:hover {
  color: white;
  background-image: -webkit-linear-gradient(rgb(78,159,234) 0%,rgb(65,126,210) 100%);
  background-image: linear-gradient(rgb(78,159,234) 0%,rgb(65,126,210) 100%);
}
