
/**
 * @file
 * Basic styling for comment module.
 */

/**
 * Indent threaded comments.
 */
.indented {
  margin-left: 25px; /* LTR */
}
[dir=rtl] .indented {
  margin-left: 0;
  margin-right: 25px;
}
