
.vertical-tabs {
  margin: 1em 0 1em 15em; /* LTR */
  border: 1px solid #ccc;
}
[dir=rtl] .vertical-tabs {
   margin-left: 0;
   margin-right: 15em;
}
.vertical-tabs-list {
  float: left; /* LTR */
  width: 15em;
  margin: -1px 0 -1px -15em; /* LTR */
  padding: 0;
  border-top: 1px solid #ccc;
  list-style: none;
}
[dir=rtl] .vertical-tabs-list {
  float: right;
  margin-left: 0;
  margin-right: -15em;
}
.vertical-tabs-pane {
  margin: 0;
  border: 0;
}
.vertical-tabs-pane > summary {
  display: none;
}

/* Layout of each tab */
.vertical-tab-button {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-top: 0;
  background: #eee;
}
.vertical-tab-button a {
  display: block;
  padding: 0.5em 0.6em;
  text-decoration: none;
}
.vertical-tab-button a:focus strong,
.vertical-tab-button a:active strong,
.vertical-tab-button a:hover strong {
  text-decoration: underline;
}
.vertical-tab-button a:hover {
  outline: 1px dotted;
}
.vertical-tab-button.selected {
  border-right-width: 0; /* LTR */
  background-color: #fff;
}
[dir=rtl] .vertical-tab-button.selected {
  border-left-width: 0;
  border-right-width: 1px;
}
.vertical-tab-button.selected strong {
  color: #000;
}
.vertical-tab-button .summary {
  display: block;
  margin-bottom: 0;
  line-height: normal;
}
