
/**
 * Image upload widget.
 */
.image-preview {
  float: left; /* LTR */
  padding: 0 10px 10px 0; /* LTR */
}
[dir=rtl] .image-preview {
  float: right;
  padding: 0 0 10px 10px;
}
.image-widget-data {
  float: left; /* LTR */
}
[dir=rtl] .image-widget-data {
  float: right;
}
.image-widget-data .text-field {
  width: auto;
}
