
/* Field display */
.field .field-label {
  font-weight: bold;
}
.field-label-inline .field-label,
.field-label-inline .field-items {
  float:left; /*LTR*/
}
[dir=rtl] .field-label-inline .field-label,
[dir=rtl] .field-label-inline .field-items {
  float: right;
}

/* Form display */
form .field-edit-link {
  margin: 0 0.3em;
}
form .field-multiple-table {
  margin: 0;
}
form .field-multiple-table .field-multiple-drag {
  width: 30px;
  padding-right: 0; /*LTR*/
}
[dir=rtl] form .field-multiple-table .field-multiple-drag {
  padding-left: 0;
}
form .field-multiple-table .field-multiple-drag .tabledrag-handle {
  padding-right: .5em; /*LTR*/
}
[dir=rtl] form .field-multiple-table .field-multiple-drag .tabledrag-handle {
  padding-left: .5em;
}
form .field-add-more-submit {
  margin: .5em 0 0;
}
