/**
 * @file toolbar.icons.css
 */
.toolbar .icon {
  padding-left: 2.75em; /* LTR */
  position: relative;
}
[dir=rtl] .toolbar .icon {
  padding-left: 1.3333em;
  padding-right: 2.75em;
}
.toolbar .icon:before {
  background-attachment: scroll;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 100%;
  left: 0.6667em; /* LTR */
  position: absolute;
  top: 0;
  width: 20px;
}
[dir=rtl] .toolbar .icon:before {
  left: auto;
  right: 0.6667em;
}
.toolbar button.icon {
  background-color: transparent;
  border: 0;
  font-size: 1em;
}
.toolbar .menu ul .icon {
  padding-left: 1.3333em; /* LTR */
}
[dir=rtl] .toolbar .menu ul .icon {
  padding-left: 0;
  padding-right: 1.3333em;
}
.toolbar .menu ul a.icon:before {
  display: none;
}
.toolbar .vertical .menu ul {
  margin-left: 1.5em; /* LTR */
}
[dir=rtl] .toolbar .vertical .menu ul {
  margin-left: 0;
  margin-right: 1.5em;
}
.toolbar .vertical .menu ul ul {
  margin-left: 0.75em; /* LTR */
}
[dir=rtl] .toolbar .vertical .menu ul ul {
  margin-left: 0;
  margin-right: 0.75em;
}

/**
 * Top level icons
 */
.icon-home:before {
  background-image: url("../images/icon-home.png");
}
.icon-home:active:before,
.icon-home.active:before {
  background-image: url("../images/icon-home-active.png");
}
.icon-menu:before {
  background-image: url("../images/icon-menu.png");
}
.icon-menu:active:before,
.icon-menu.active:before {
  background-image: url("../images/icon-menu-active.png");
}

/**
 * Main menu icons.
 */
.icon-content:before {
  background-image: url("../images/icon-content.png");
}
.icon-content:active:before,
.icon-content.active:before {
  background-image: url("../images/icon-content-active.png");
}
.icon-structure:before {
  background-image: url("../images/icon-structure.png");
}
.icon-structure:active:before,
.icon-structure.active:before {
  background-image: url("../images/icon-structure-active.png");
}
.icon-appearance:before {
  background-image: url("../images/icon-appearance.png");
}
.icon-appearance:active:before,
.icon-appearance.active:before {
  background-image: url("../images/icon-appearance-active.png");
}
.icon-people:before {
  background-image: url("../images/icon-people.png");
}
.icon-people:active:before,
.icon-people.active:before {
  background-image: url("../images/icon-people-active.png");
}
.icon-extend:before {
  background-image: url("../images/icon-extend.png");
}
.icon-extend:active:before,
.icon-extend.active:before {
  background-image: url("../images/icon-extend-active.png");
}
.icon-configuration:before {
  background-image: url("../images/icon-configuration.png");
}
.icon-configuration:active:before,
.icon-configuration.active:before {
  background-image: url("../images/icon-configuration-active.png");
}
.icon-reports:before {
  background-image: url("../images/icon-reports.png");
}
.icon-reports:active:before,
.icon-reports.active:before {
  background-image: url("../images/icon-reports-active.png");
}
.icon-help:before {
  background-image: url("../images/icon-help.png");
}
.icon-help:active:before,
.icon-help.active:before {
  background-image: url("../images/icon-help-active.png");
}

@media only screen and (min-width: 16.5em) {
  .toolbar .bar .icon {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-indent: -9999px;
    width: 4em;
  }
  .toolbar .bar .icon:before {
    left: 0; /* LTR */
    width: 100%;
  }
  [dir=rtl] .toolbar .bar .icon:before {
    background-size: auto auto;
    left: auto;
    right: 0;
  }
}

@media only screen and (min-width: 36em) {
  .toolbar .bar .icon {
    background-position: left center; /* LTR */
    padding-left: 2.75em; /* LTR */
    padding-right: 1.3333em; /* LTR */
    text-indent: 0;
    width: auto;
  }
  [dir=rtl] .toolbar .bar .icon {
    background-position: right center;
    padding-left: 1.3333em;
    padding-right: 2.75em;
  }
  .toolbar .bar .icon:before {
    left: 0.6667em; /* LTR */
    width: 20px;
  }
  [dir=rtl] .toolbar .bar .icon:before {
    left: 0;
    right: 0.6667em;
  }
}
