/**
 * @file toolbar.menu.css
 */
.toolbar .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.toolbar .box {
  display: block;
  line-height: 1em; /* this prevents the value "normal" from being returned as the line-height */
  position: relative;
  width: auto;
}
.toolbar .horizontal .menu .handle,
.toolbar .horizontal .menu ul,
.toolbar .vertical .menu ul {
  display: none;
}
.toolbar .vertical li.open > ul {
  display: block; /* Show the sub-menus */
}
.toolbar .vertical .handle + a {
  margin-right: 3em; /* LTR */
}
[dir=rtl] .toolbar .vertical .handle + a {
  margin-left: 3em;
  margin-right: 0;
}
.toolbar .tray .active-trail > .box a,
.toolbar .tray a.active {
  color: #000;
  font-weight: bold;
}

/**
 * Items.
 */
.toolbar .level-2 > ul {
  background-color: #fafafa;
  border-bottom-color: #cccccc;
  border-top-color: #e5e5e5;
}
.toolbar .level-3 > ul {
  background-color: #f5f5f5;
  border-bottom-color: #c5c5c5;
  border-top-color: #dddddd;
}
.toolbar .level-4 > ul {
  background-color: #eeeeee;
  border-bottom-color: #bbbbbb;
  border-top-color: #d5d5d5;
}
.toolbar .level-5 > ul {
  background-color: #e5e5e5;
  border-bottom-color: #b5b5b5;
  border-top-color: #cccccc;
}
.toolbar .level-6 > ul {
  background-color: #eeeeee;
  border-bottom-color: #aaaaaa;
  border-top-color: #c5c5c5;
}
.toolbar .level-7 > ul {
  background-color: #fafafa;
  border-bottom-color: #b5b5b5;
  border-top-color: #cccccc;
}
.toolbar .level-8 > ul {
  background-color: #dddddd;
  border-bottom-color: #cccccc;
  border-top-color: #dddddd;
}

/**
 * Handle.
 */
.toolbar .handle:hover {
  cursor: pointer;
}
.toolbar .icon.handle {
  bottom: 0;
  display: block;
  height: 100%;
  padding: 0;
  position: absolute;
  right: 0; /* LTR */
  text-indent: -9999px;
  top: 0;
  width: 3em;
  z-index: 1;
}
[dir=rtl] .toolbar .icon.handle {
  left: 0;
  right: auto;
}
.toolbar .icon.handle:before {
  background-image: url("../images/icon-open.png");
  left: 0; /* LTR */
}
[dir=rtl] .toolbar .icon.handle:before {
  left: auto;
  right: 0;
}
.toolbar .icon.handle.open:before {
  background-image: url("../images/icon-collapse.png");
}
.toolbar .menu .menu .icon.handle:before {
  background-image: url("../images/icon-child-open.png");
}
.toolbar .menu .menu .icon.handle.open:before {
  background-image: url("../images/icon-child-collapse.png");
}
