/**
 * @file
 * Styling for the shortcut module.
 */

/**
 * Toolbar.
 */
.icon-shortcut:before {
  background-image: url(../images/shortcut.png);
}
.icon-shortcut:active:before,
.icon-shortcut.active:before {
  background-image: url(../images/shortcut-active.png);
}
.toolbar .tray.horizontal.shortcuts .menu {
  float: left;
}
.edit-shortcuts {
  display: block;
}
.toolbar .vertical .edit-shortcuts {
  text-align: right;
  padding: 1em;
}
.toolbar .horizontal .edit-shortcuts {
  float: left; /* LTR */
}
[dir=rtl] .toolbar .horizontal .edit-shortcuts {
  border-left: 0 none;
  border-right: 1px solid #d9d9d9;
  float: right;
  margin-left: 0;
  margin-right: 0.3333em;
  padding-left: 0.3333em;
  padding-right: 0.6667em;
}

/**
 * Add/remove links.
 */
.add-or-remove-shortcuts .icon {
  background: transparent url(../images/shortcut-add.png) no-repeat;
  height: 12px;
  margin-left: 8px; /* LTR */
  overflow: hidden;
  text-indent: 12px;
  width: 12px;
}
[dir=rtl] .add-or-remove-shortcuts .icon {
  margin-left: 0;
  margin-right: 8px;
}
[dir=rtl] .add-or-remove-shortcuts .text {
  padding: 0 10px 0 6px;
}
[dir=rtl] .add-or-remove-shortcuts a:focus .text,
[dir=rtl] .add-or-remove-shortcuts a:hover .text {
  border-radius: 5px 0 0 5px;
}
.add-shortcut a:focus .icon,
.add-shortcut a:hover .icon {
  background-position: 0 -12px; /* LTR */
}
[dir=rtl] .add-shortcut a:focus .icon,
[dir=rtl] .add-shortcut a:hover .icon {
  background-position: 0 -24px;
}
.remove-shortcut .icon {
  margin-top: 4px;
  background-position: -12px 0;
}
.remove-shortcut a:focus .icon,
.remove-shortcut a:hover .icon {
  background-position: -12px -12px; /* LTR */
}
[dir=rtl] .remove-shortcut a:focus .icon,
[dir=rtl] .remove-shortcut a:hover .icon {
  background-position: -12px -24px;
}
