/**
 * @file
 * Admin styles for the Database Logging module.
 */
.dblog-filter-form .form-item-type,
.dblog-filter-form .form-item-severity {
  display: inline-block;
  margin: .1em .9em .1em .1em; /* LTR */
  max-width: 30%;
}
[dir=rtl] .dblog-filter-form .form-item-type,
[dir=rtl] .dblog-filter-form .form-item-severity {
  margin: .1em .1em .1em .9em;
}
.dblog-filter-form .form-actions {
  display: inline-block;
  padding: 3ex 0 0;
  vertical-align: top;
}
.dblog-user.odd .active {
  background: #ddf;
}
.dblog-user.even .active {
  background: #cce;
}
.dblog-error.odd .active {
  background: #ffc9c9;
}
.dblog-error.even .active {
  background: #eeb9b9;
}
.dblog-warning.odd .active {
  background: #fffdca;
}
.dblog-warning.even .active {
  background: #eeedbd;
}
.admin-dblog .icon {
  background: no-repeat center;
  width: 16px;
}
.admin-dblog .dblog-warning .icon {
  background-image: url(../../../misc/message-16-warning.png);
}
.admin-dblog .dblog-error .icon,
.admin-dblog .dblog-critical .icon,
.admin-dblog .dblog-alert .icon,
.admin-dblog .dblog-emergency .icon {
  background-image: url(../../../misc/message-16-error.png);
}
