/**
 * @file
 * Styling for the Book module.
 */

/**
 * Book navigation.
 */
.book-navigation .menu {
  padding-bottom: 0;
  padding-top: 1em;
}
.book-navigation .book-pager {
  margin: 0;
  overflow: auto;
  padding: 0.5em 0;
}
.book-pager li {
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
}
.book-pager .previous {
  text-align: left; /* LTR */
  width: 45%;
}
[dir=rtl] .book-pager .previous {
  float: right;
  text-align: right;
}
.book-pager .up {
  text-align: center;
  width: 8%;
}
.book-pager .next {
  float: right; /* LTR */
  text-align: right; /* LTR */
  width: 45%;
}
[dir=rtl] .book-pager .next {
  float: left;
  text-align: left;
}
