/* Large resolutions (desktop, tablets in landscape, ...) */
@media only screen and (min-width: 59em) {
  .layout-two-col .layout-region {
    float: left; /* LTR */
    width: 50%;
  }
  [dir=rtl] .layout-two-col .layout-region {
    float: right;
  }
}
