
/**
 * @file
 * Admin styling for the Filter module.
 */

/**
 * Filter information under field.
 */
.text-format-wrapper > .form-item {
  margin-bottom: 0;
}

.filter-wrapper {
  border: 1px solid #ccc;
  border-top: 0;
  margin: 0;
  padding: 0.5em 1.5em;
}
.filter-wrapper .form-item {
  margin-top: 0;
}
.filter-wrapper .form-item label {
  display: inline;
}

.filter-help {
  float: right; /* LTR */
}
[dir=rtl] .filter-help {
  float: left;
}
.filter-help p {
  margin: 0;
}
.filter-help a {
  background: transparent url(../../../misc/help.png) right center no-repeat; /* LTR */
  padding: 0 20px 0 0; /* LTR */
}
[dir=rtl] .filter-help a {
  background-position: left center;
  padding: 0 0 0 20px;
}

.text-format-wrapper .description {
  margin-top: 0.5em;
}
.tips {
  font-size: 0.9em;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

/**
 * Improve filter tips position.
 */
.tips {
  padding-left: 0; /* LTR */
}
[dir=rtl] .tips {
  padding-right: 0;
}
