/**
 * @file
 * Styling for tour module.
 */

/* Tab appearance. */
.js .toolbar .bar .tour-toolbar-tab.tab {
  float: right; /* LTR */
}
.js[dir=rtl] .toolbar .bar .tour-toolbar-tab.tab {
  float: left;
}
.js .toolbar .tour-toolbar-tab button {
  padding-bottom: 1em;
  padding-top: 1em;
  color: #fff;
  font-weight: bold;
}
.js .toolbar .tour-toolbar-tab button.active {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.25) 20%, transparent 200%);
}
.js .tour-toolbar-tab button:focus {
  outline: thin dotted;
}

/* Joyride tips should always be on top of everything else. */
.joyride-tip-guide {
  z-index: 999;
}

/* Override placement of the tour progress indicator. */
.tour-progress {
  position: absolute;
  bottom: 10px;
  right: 15px; /* LTR */
}
[dir=rtl] .tour-progress {
  right: 0;
  left: 15px;
}

/* @todo Remove once http://drupal.org/node/1916690 is resolved. */
.js .toolbar .tour-toolbar-tab.tab.hidden {
  display: none;
}
